<div class="header">
  <div>
    <span>
      <img [attr.src]="server+world.logo" id='imgMonde' />
    </span>
    <span id="worldname"> {{world.name}} </span>
  </div>
  <div>
    $ <span [innerHTML]="world.money | bigvalue"> </span>
  </div>
  <div> <button id='qteAchat' (click)="setMulti()">Buy x {{qtmulti}}</button></div>



  <div class="main">
    <div class="bouton">
      <button id='unlocks'>Unlocks</button> <br>
      <button id='cashUpgrades'>Cash Upgrades</button> <br>
      <button id='angelUpgrade'>Angel Upgrades</button> <br>
      <button id='managers'>Managers</button> <br>
      <button id='investors'>Investors</button> <br>

      <div class="product">

        <div>
          <app-product (notifyProduction)="onProductionDone($event)" (notifyAchat)="onBuyDone($event)"
            [qtmultit]="qtmulti" [prod]="world.products.product[0]" [moneyJoueur]="world.money"
            class="product col-md-6"></app-product>
        </div>

        <div>
          <app-product (notifyProduction)="onProductionDone($event)" (notifyAchat)="onBuyDone($event)"
            [qtmultit]="qtmulti" [prod]="world.products.product[1]" [moneyJoueur]="world.money"
            class="product col-md-6"></app-product>
        </div>
        <div>
          <app-product (notifyProduction)="onProductionDone($event)" (notifyAchat)="onBuyDone($event)"
            [qtmultit]="qtmulti" [prod]="world.products.product[2]" [moneyJoueur]="world.money"
            class="product col-md-6"></app-product>
        </div>
        <div>
          <app-product (notifyProduction)="onProductionDone($event)" (notifyAchat)="onBuyDone($event)"
            [qtmultit]="qtmulti" [prod]="world.products.product[3]" [moneyJoueur]="world.money"
            class="product col-md-6"></app-product>
        </div>
        <div>
          <app-product (notifyProduction)="onProductionDone($event)" (notifyAchat)="onBuyDone($event)"
            [qtmultit]="qtmulti" [prod]="world.products.product[4]" [moneyJoueur]="world.money"
            class="product col-md-6"></app-product>
        </div>
        <div>
          <app-product (notifyProduction)="onProductionDone($event)" (notifyAchat)="onBuyDone($event)"
            [qtmultit]="qtmulti" [prod]="world.products.product[5]" [moneyJoueur]="world.money"
            class="product col-md-6"></app-product>

        </div>
        <div *ngIf="showManagers" class="modal">
          <div>
            <h1 class="title">Managers make you feel better !</h1>
          </div>
          <div>
            <div *ngFor="let manager of world.managers.pallier">
              <div *ngIf="!manager.unlocked" class="managerslayout">

                <div>
                  <div class="logo"><img class="round" [attr.src]="server+manager.logo" /> </div>
                </div>
                <div>
                  <div class="managername"> {{ manager.name}} </div>
                  <div class="managercible"> {{ world.products.product[manager.idcible-1].name }}
                  </div>
                  <div class="managercost"> {{ manager.seuil}} </div>
                </div>

                <div>
                  <div class="buybtn"><button mat-raised-button color="accent" class="hirebutton"
                      (click)="hireManager(manager)" [ngClass]="{'selectable' : (world.money >= manager.seuil)}">Hire
                      !</button>
                  </div>
                </div>
              </div>
            </div>
            <button class="closebutton" mat-raisedbutton color="primary"
              (click)="showManagers = !showManagers">Close</button>
          </div>
        </div>
      </div>





      <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
      <!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
      <!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
      <!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
      <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
      <!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
      <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->